<nav class="navbar">
  <div class="logo">
    <a href="{{ '/' | relative_url }}">
      <img src="https://raw.githubusercontent.com/kelasmaster/kelasmaster.github.io/refs/heads/images/kelasmaster-logo-tr.png" alt="Logo">
    </a>
  </div>
  <div class="site-info">
    <h1>{{ site.title }}</h1>
  </div>
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="hamburger">&#9776;</label>
  <ul class="nav-links">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
    <li>
      <button id="theme-toggle" class="theme-switch-btn" title="Toggle Dark/Light Mode">
        <i class="fas fa-moon"></i>
      </button>
    </li>
  </ul>
</nav>
